<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.donationplatform.mapper.ProjectsUpdateMapper">

    <insert id="save">
        INSERT INTO project_updates (project_id, update_type, content, images, created_at)
        VALUES (#{projectId}, #{updateType}, #{content}, #{images}, NOW())
    </insert>
</mapper>