<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.donationplatform.mapper.ProjectsMapper">

    <insert id="save" parameterType="com.example.donationplatform.entity.Projects" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO projects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectType != null">project_type,</if>
            <if test="title != null">title,</if>
            <if test="picture != null">picture,</if>
            <if test="summary != null">summary,</if>
            <if test="initiatorId != null">initiator_id,</if>
            <if test="targetAmount != null">target_amount,</if>
            <if test="raisedAmount != null">raised_amount,</if>
            <if test="status != null">status,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="rejectReason != null">reject_reason,</if>
            create_time,
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectType != null">#{projectType},</if>
            <if test="title != null">#{title},</if>
            <if test="picture != null">#{picture},</if>
            <if test="summary != null">#{summary},</if>
            <if test="initiatorId != null">#{initiatorId},</if>
            <if test="targetAmount != null">#{targetAmount},</if>
            <if test="raisedAmount != null">#{raisedAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            NOW(),
            NOW()
        </trim>
    </insert>
</mapper>